services:
    postgres:
        image: postgres:16
        container_name: ecommerce_postgres
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: ecommerce
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
