@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* Tailwind theme tokens */
@theme {
    --font-inter: "Inter", sans-serif;
    --font-inter-tight: "Inter Tight", sans-serif;
    --color-accent: #000000;
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

/* Base styles */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

/* Chrome, Safari, Edge */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

:root {
    --toastify-color-success: black;
    --toastify-color-progress-success: black;
    --toastify-color-progress-warning: #ff6900;
    --toastify-color-progress-error: #e7000b;
    --toastify-toast-bd-radius: 8px !important;
    --toastify-toast-padding: 0px;
    --toastify-toast-min-height: 0px;
}

.Toastify__toast {
    border-radius: 8px !important;
}
